/* Add 360-degree rotation animation */
@keyframes rotate360 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.txtContainer {
  position: relative;
}

.txtStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate360 3s forwards; /* Rotate 360 degrees once and stop */
}

.txtStyle h1,
.txtStyle p {
  text-align: center;
  /* color: white; */
}
.txtStyle h1 {
  font-size: 4em;
  font-weight: 900;
  text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.7); /* Slight black shadow for depth */
  -webkit-text-stroke: 2px #2c3e50; /* Dark gray stroke for a more professional look */
  color: white; /* White text for better visibility */
}

.txtStyle p {
  font-size: 2em;
  font-weight: 800;
  text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.7); /* Slight black shadow for depth */
  line-height: 1.4;
  -webkit-text-stroke: 1px #2c3e50; /* Dark gray stroke */
  color: white; /* White text for better visibility */
}

/* General Text Style */
.txtStyle {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 576px) {
  .txtStyle h1 {
    font-size: 6vw;
  }

  .txtStyle p {
    font-size: 4vw;
  }

  .carousel-container {
    height: 35vh;
    overflow: hidden;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .txtStyle h1 {
    font-size: 5vw;
  }

  .txtStyle p {
    font-size: 3.5vw;
  }

  .carousel-container {
    height: 40vh;
    overflow: hidden;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .txtStyle h1 {
    font-size: 4.5vw;
  }

  .txtStyle p {
    font-size: 3vw;
  }

  .carousel-container {
    height: 50vh;
    overflow: hidden;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .txtStyle h1 {
    font-size: 4vw;
  }

  .txtStyle p {
    font-size: 2.5vw;
  }

  .carousel-container {
    height: 60vh;
    overflow: hidden;
  }
}

/* Extra large devices (1200px and up) */
@media (min-width: 1200px) {
  .txtStyle h1 {
    font-size: 3.5vw;
  }

  .txtStyle p {
    font-size: 2vw;
  }

  .carousel-container {
    height: 75vh;
    overflow: hidden;
  }
}

/* XXL devices (1400px and up) */
@media (min-width: 1400px) {
  .carousel-container {
    height: 80vh;
    overflow: hidden;
  }
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  opacity: 0.9;
}
