.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.html-content {
  flex-grow: 1;
  padding: 20px;
}

.back-button {
  align-self: center;
  margin: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745; /* Adjust color as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #218838; /* Adjust hover color as needed */
}
