/* Make the login page responsive */
.login-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.login-content {
  z-index: 1;
  width: 100%;
  max-width: 400px;
}

/* Transparent background for the form */
.login-card {
  background-color: rgba(255, 255, 255, 0.3); /* Increased transparency */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Slightly darker shadow for better text contrast */
  color: white; /* Ensures text is visible on transparent background */
}

label,
.tColor {
  color: white;
}

/* Updated: Login button styling */
.btn-primary {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Transparent button background */
  color: white;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  width: 100%;
}

.btn-primary:hover {
  background-color: rgba(0, 150, 255, 0.8); /* Blue background on hover */
  border-color: rgba(0, 150, 255, 1);
  color: white;
}

/* Responsive styling */
@media (max-width: 768px) {
  .login-container {
    padding: 20px;
  }

  .login-card {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .login-card {
    padding: 1rem;
  }
}
